.components div {
    margin-bottom: 1rem;
}

.components-header {
    text-align: center;
}

.components-header h1 {
    font-size: 2rem;
    font-weight: 200;
}

.component-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: max-content;

    gap: 2rem
}

.component-card {
    display: flex;
    justify-content: center;

    padding: 1rem;

    border: #F0F0F0 1px solid;
    transition: ease-in-out 200ms;
}

.component-card:hover {
    background-color: #F0F0F0;
}

.component-card-img {
    max-width: 1.5em;
    max-height: 1.5em;

    margin-right: 0.25em;
    margin-left: 0.25em;
}

@media (max-width: 550px) {
    .component-cards {
        grid-template-columns: 1fr;
        gap: 0;
    }
}
