#instructions {
  margin-bottom: 4rem;
}

#instruction-set {
  display: block;
}

#instruction-set th:nth-child(1) {
  background-color: #42a5f5;
}

#instruction-set th:nth-child(2) {
  background-color: #ff9800;
}

#instruction-set th:nth-child(3) {
  background-color: #ef5350;
}

#instruction-set th:nth-child(4) {
  background-color: #7cb342;
}

#instruction-set table,
thead,
td {
  border: 1px solid #d0d0d0;
}

#instruction-set th {
  border: none;
}

#instruction-set td:nth-child(3) {
  padding: 0;
}

#instruction-set td:nth-child(3) {
  background-color: #f3f3f3;
}

.instructions-subheader {
  margin: 1rem 0;
}

@media (max-width: 830px) {
  #instruction-set {
    overflow-x: auto;
    white-space: nowrap;
  }
}
