section {
    margin: 2rem 0;
    padding: 0 1rem;
}

section h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

section h3 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

section p {
    line-height: 1.6rem;
}

section ul {
    padding: 0.5rem 0;
}