.about-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-text * {
    margin: 1rem;
}

.about-text h1 {
    font-size: 2rem;
    font-weight: 200;
}

.about-text p {
    line-height: 1.6rem;
}

.about-link {
    text-decoration: underline;
    color: blue;
}

.about-link:hover {
    color: lightblue;
}

.about-link:visited {
    color: darkblue;
}

.about-img {
    background-color: gray;
    height: 50px;
}

@media (max-width: 550px) {
    .about-content {
        grid-template-columns: 1fr;
    }
}