.about-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-text * {
    margin: 1rem;
}

.about-text h1 {
    font-size: 2rem;
    font-weight: 200;
}


.about-img {
    background-color: gray;
}