.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: max-content;
}

.card {
    display: flex;
    justify-content: center;

    padding: 1rem;
    margin: 0 2rem;

    border: #F0F0F0 1px solid;
    transition: ease-in-out 200ms;
}

.card:hover {
    background-color: #F0F0F0;
}

.card-img {
    max-width: 1.5em;
    max-height: 1.5em;

    margin-right: 0.25em;
    margin-left: 0.25em;
}
